[Unit]
  Description=cdk-sequencer-sender
  StartLimitIntervalSec=500
  StartLimitBurst=5

[Service]
  Restart=on-failure
  RestartSec=5s
  ExecStart=/usr/bin/cdk-sequencer-sender
  Type=simple
  KillSignal=SIGINT
  User=cdk-sequencer-sender
  TimeoutStopSec=120

[Install]
  WantedBy=multi-user.target